body {
	background-color: #cd853f;
	margin: 0;
	font-family: "Avenir", "Monserrat";

}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0px auto;
	max-width: 600px;
}
#colorDisplay{
	font-size: 200%;
}


#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}
h1 {
	color: white;
	text-align: center;
	background-color: peru;
	margin: 0;
	text-transform: uppercase;
	line-height: 0.8;
	/* padding-top: 20px; */
	padding-bottom: 20px;
	/* padding: 24px 0; */
}
button{
	border: 0;
	background: none;
	text-transform: uppercase;
	font-weight: 700;
	color: peru;
	font-size: 110%;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
	align-items: center;
	padding-top: 1%;
}

.selected{
	background: grey;
}